html {
	/* width: 100vw;*/
	height: 100vh;
}

* {
	margin: 0;
	padding: 0;
}

/* *::-webkit-scrollbar {
  width: 0;
} */

body {
	width: 100%;
	height: 100%;
	font-family: "Josefin Sans";
	/* font-family: "Poppins"; */
}

.ant-btn-primary {
	background: #0061af;
	background-color: #0061af;
	border: none !important;
}

.anticon {
	vertical-align: middle !important;
	margin-bottom: 3px !important;
}

.custom-table table tr th,
.custom-table table tr td {
	border: 1px solid;
	padding: 5px;
}

.custom-table table tr th {
	text-align: left;
}

.w-subtraction-100 {
	width: calc(100% - 100px) !important;
}

.required-cus::before {
	display: inline-block;
	margin-inline-end: 4px;
	color: #ff4d4f;
	font-size: 14px;
	font-family: SimSun, sans-serif;
	line-height: 1;
	content: "*";
}

.events-fee {
	margin: 0;
	padding: 0;
	list-style: none;
}
.events-fee .ant-badge-status {
	width: 100%;
	overflow: hidden;
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.notes-month-fee {
	font-size: 28px;
	text-align: center;
}
.notes-month-fee section {
	font-size: 28px;
}

.custom-calender .ant-picker-calendar-header {
	display: none;
}
.ant-layout .ant-layout-sider {
	background-color: #004390;
}

.ant-menu-dark,
.ant-menu-dark > .ant-menu {
	color: white !important;
	background-color: #004390 !important;
}

.ant-menu-dark.ant-menu-inline
	.ant-menu-sub.ant-menu-inline,
.ant-menu-dark
	> .ant-menu.ant-menu-inline
	.ant-menu-sub.ant-menu-inline {
	/* color: #004390; */
	color: #fff;
	/* background-color: #e9f3ff !important; */
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.ant-popover-content {
	width: 150%;
}
.ant-popconfirm-message-text {
	width: 100%;
}
/* 
.ant-table-cell {
	border: 0.5px solid rgb(113, 109, 109) !important;
} */

.ant-table-container {
	border-left: 1px solid #bbbbbb !important;
}

.ant-table-content > table,
.ant-table-header > table > thead > tr > th {
	border-top: 1px solid #bbbbbb !important;
}

.ant-table-content > table > thead > tr > th,
.ant-table-content > table > tbody > tr > td,
.ant-table-content > table > tfoot > tr > td,
.ant-table-header > table > thead > tr > th,
.ant-table-body > table > tbody > tr > td {
	border-right: 1px solid #bbbbbb !important;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table-summary > tr > td {
	border-bottom: 1px solid #bbbbbb !important;
}

.ant-table-wrapper
	.ant-table
	.ant-table-title
	+ .ant-table-container
	table
	> thead
	> tr:first-child
	td:first-child {
	border-right: 1px solid #bbbbbb !important;
	border-bottom: 1px solid #bbbbbb !important;
}

/* .ant-table-small .ant-table-thead > tr > th,
.ant-table-thead > tr > th {
	background-color: #998c76 !important;
} */
