html {
	/* width: 100vw;*/
	height: 100vh;
}

* {
	margin: 0;
	padding: 0;
}

/* *::-webkit-scrollbar {
  width: 0;
} */

body {
	width: 100%;
	height: 100%;
	font-family: "Josefin Sans";
}

.ant-btn-primary {
	background: #0061af;
	background-color: #0061af;
	border: none !important;
}

.anticon {
	vertical-align: middle !important;
	margin-bottom: 3px !important;
}

.custom-table table tr th,
.custom-table table tr td {
  border: 1px solid;
  padding: 5px;
} 

.custom-table table tr th{
  text-align: left;
}